[Desktop Entry]
Name=ThongSSH
Comment=SSH Connection Manager
Exec=python3 __APP_DIR__/thongssh.py
Icon=__APP_DIR__/thongssh_gtk/icons/thongssh.png
Type=Application
Terminal=false
Categories=GTK;GNOME;Utility;Network;
StartupWMClass=com.example.thongssh
